/* section1 區域 Menu */
#sec1 * {
    font-size: 20px;
    margin: 5px 0px;
    border-radius: 25px;
}

#sec1 .form-control-file {
    border-radius: 2px;
}

#sec1 h2 {
    color: rgb(240, 90, 150);
    font-size: 2rem;
}

form {
    background-color: rgba(255, 200, 220, 0.5);
    padding: 20px;
    border-radius: 25px;
    border: 1px solid var(--c-sub4-10);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    min-width: 280px;
}

#sec1 .btn {
    font-size: 20px;
    width: 100%;
    border: 2px solid rgb(240, 90, 150);
    color: rgb(240, 90, 150);
}

#sec1 .btn:hover {
    background-color: rgb(240, 90, 150);
    border-color: rgb(240, 90, 150);
    color: #fff;
}


#sec1 .btn:active {
    background-color: rgb(240, 30, 130);
    border-color: rgb(240, 90, 150);
    color: #fff;
}


/* 卡片裡面的表單不顯示，僅顯示按鈕 */
#delete-form {
    background-color: #fff;
    border: none;
    box-shadow: none;
    padding: 0px;
    min-width: 150px;
}


#sec1 img {
    width: 100px;
    height: 100%;
    border-radius: 10px;
}

#sec3 img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#delete-form .btn {
    border-radius: 15px;
}


#sec1 .btn-outline-success {
    font-size: 20px;
    width: 100%;
}

/* 頁面按鈕 */
.simple-pagination ul {
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
}

.page-link {
    color: var(--c-base-10);
    background-color: #fff;
}

.simple-pagination .current {
    color: #fff;
    background-color: var(--c-base-10);
    border: 1px solid #dee2e6;
    text-align: center;
    padding: 6px 12px;
    margin-top: 0px;
    position: relative;
    display: block;
}

.simple-pagination li a {
    font-weight: bold;
}

.prev {
    border-radius: 15px 0 0 15px;
}

.next {
    border-radius: 0 15px 15px 0;
}

.pagination {
    width: 100%;
    justify-content: center;
}

@media(max-width: 767px) {
    .simple-pagination li a {
        font-size: 18px;
        padding: 0px 6px;
    }

    .simple-pagination .current {
        font-size: 18px;
        padding: 0px 6px;
    }

}

#pagination-container {
    height: 55px;
}

#pagination-container ul {
    padding: 0px;
    align-content: center;
}